.custom-control-label::before {
    margin-top: 5px;
}

.icon-block {
    display: flex;
    margin-left: 15px;
    margin-top: 5px;
}

.fa {
    padding-right: 10px;
    cursor: pointer;
}

.fa-trash {
    color: #dc3545;
}

.fa-thumbs-up {
    color: #20be44b8;
}

.fa-thumbs-down {
    color: #dc3545;
    margin-top: 2px;
}

.done p {
    color: #20be44b8;
    text-decoration: line-through;
}

.didnt p {
    color: #212529;
    text-decoration: none;
}